.sidebarOption {
  display: flex;
  align-items: center;
  height: 40px;
  color: grey;
  transition: all 0.5s ease;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
  .sidebarOption__icon {
    margin-left: 10px;
    margin-right: 10px;
  }
  p {
    margin-left: 20px;
    margin-right: 10px;
    color: grey;
  }
}
